<section id="about-us" class="section-about">
  <div class="container section-about-container">
    <div class="section-about-wraper">
      <h2 class="section-about-title">About us</h2>
      <p class="section-about-subtitle">
        Our craftsmanship: creating unique handmade furniture
      </p>
      <p class="section-about-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <div class="about-us-result">
        <ul class="section-about-list">
          <li class="section-about-item">
            <h3 class="section-about-item-title">5+</h3>
            <p class="section-about-item-text">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li class="section-about-item">
            <h3 class="section-about-item-title">100%</h3>
            <p class="section-about-item-text">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li class="item-about-us">
            <h3 class="section-about-item-title">500+</h3>
            <p class="section-about-item-text">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-about-img">
      <picture>
        <source
          srcset="
            ./img/images.desktop/about.as-1x-min.jpg 1x,
            ./img/images.desktop/about.as-2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/images.tab/about.as-1x-min.jpg 1x,
            ./img/images.tab/about.as-2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/images.mob/about.as-1x-min.jpg 1x,
            ./img/images.mob/about.as-2x-min.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/images.desktop/about.as-1x-min.jpg"
          alt="sofa"
          width="767"
        />
      </picture>
    </div>
  </div>
</section>
