<section id="about-us" class="section-about">
    <div class="section-about-container container">
        <div class="section-about-wraper">
            <h2 class="section-about-title">About us</h2>
            <h3 class="section-about-subtitle">Our craftsmanship: creating unique handmade furniture</h3>
            <p class="section-about-text">
                Discover the inspiration behind our modern and minimalist designs, and
                see how we bring them to life through our skilled craftsmanship.
            </p>
            <div class="about-us-result">
                <ul class="section-about-list list">
                    <li class="section-about-item">
                        <h4 class="section-about-item-title" data-final-value="5" data-show-symbol="+">5+</h4>
                        <p class="section-about-item-text">Years of experience creating handcrafted furniture</p>
                    </li>
                    <li class="section-about-item">
                        <h4 class="section-about-item-title" data-final-value="100" data-step="10" data-is-percentage="true" data-show-symbol="%">100%</h4>
                        <p class="section-about-item-text">Sustainably sourced materials used in all of our furniture</p>
                    </li>
                    <li class="section-about-item">
                        <h4 class="section-about-item-title">500+</h4>
                        <p class="section-about-item-text">Unique furniture designs crafted by our skilled artisans</p>
                    </li>
                </ul>
            </div>
        </div>

        <picture>

        </picture>
    </div>
</section>
