<!-- ============ BESTSELLERS-SECTION ============ -->
<section class="bestsellers-section" id="bestsellers">
  <div class="bestsellers-container">
    <h2 id="bestsellers" class="bestsellers-title">Bestsellers</h2>
    <ul class="bestsellers-list">
      <div class="main-image">
        <li class="bestsellers-point">
          <picture>
            <source
              srcset="
                ./img/images.desktop/bestsellers1-1x-min.jpg 1x,
                ./img/images.desktop/bestsellers1-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/images.tab/bestsellers1-1x-min.jpg 1x,
                ./img/images.tab/bestsellers1-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/images.mob/bestsellers1-1x-min.jpg 1x,
                ./img/images.mob/bestsellers1-2x-min.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/images.desktop/bestsellers1-1x-min.jpg"
              alt="The modern platform bed"
              width="704"
            />
          </picture>
          <h3 class="bestsellers-name">The modern platform bed</h3>
          <p class="bestsellers-cost">750&#36;</p>
        </li>
      </div>

      <div class="sub-images">
        <li class="bestsellers-point">
          <picture>
            <source
              srcset="
                ./img/images.desktop/bestsellers2-1x-min.jpg 1x,
                ./img/images.desktop/bestsellers2-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/images.tab/bestsellers2-1x-min.jpg 1x,
                ./img/images.tab/bestsellers2-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/images.mob/bestsellers2-1x-min.jpg 1x,
                ./img/images.mob/bestsellers2-2x-min.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/images.desktop/bestsellers2-1x-min.jpg"
              alt="The Cozy Lounge Chair"
              width="343"
            />
          </picture>
          <h3 class="bestsellers-name">The Cozy Lounge Chair</h3>
          <p class="bestsellers-cost">230&#36;</p>
        </li>
        <li class="bestsellers-point">
          <picture>
            <source
              srcset="
                ./img/images.desktop/bestsellers3-1x-min.jpg 1x,
                ./img/images.desktop/bestsellers3-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/images.tab/bestsellers3-1x-min.jpg 1x,
                ./img/images.tab/bestsellers3-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/images.mob/bestsellers3-1x-min.jpg 1x,
                ./img/images.mob/bestsellers3-2x-min.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/images.desktop/bestsellers3-1x-min.jpg"
              alt="The industrial accent chair"
              width="343"
            />
          </picture>
          <h3 class="bestsellers-name">The industrial accent chair</h3>
          <p class="bestsellers-cost">250&#36;</p>
        </li>
        <li class="bestsellers-point hide-mob">
          <picture>
            <source
              srcset="
                ./img/images.desktop/bestsellers4-1x-min.jpg 1x,
                ./img/images.desktop/bestsellers4-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/images.tab/bestsellers4-1x-min.jpg 1x,
                ./img/images.tab/bestsellers4-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/images.desktop/bestsellers4-1x-min.jpg"
              alt="The sleek stand"
              width="343"
            />
          </picture>
          <h3 class="bestsellers-name">The sleek stand</h3>
          <p class="bestsellers-cost">300&#36;</p>
        </li>
        <li class="bestsellers-point hide-mob">
          <picture>
            <source
              srcset="
                ./img/images.desktop/bestsellers5-1x-min.jpg 1x,
                ./img/images.desktop/bestsellers5-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/images.tab/bestsellers5-1x-min.jpg 1x,
                ./img/images.tab/bestsellers5-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/images.desktop/bestsellers5-1x-min.jpg"
              alt="The minimalist sofa"
              width="343"
            />
          </picture>
          <h3 class="bestsellers-name">The minimalist sofa</h3>
          <p class="bestsellers-cost">650&#36;</p>
        </li>
      </div>
    </ul>
  </div>
</section>
