<header class="header">
  
  <div class="header-container container">
    <svg class="header-logo" width="100" height="14">
                  <use href="./img/icons.svg#icon-logo">
                  </use>
              </svg>
      <nav class="header-navigation">
            
            <ul class="header-menu-list list">
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="./index.html">About us</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="./index.html">Our products</a>
                </li>
                <li class="header-menu-item">
                <a class="header-menu-link link" href="./index.html">Prices</a>
                </li>
               <li class="header-menu-item">
                <a class="header-menu-link link" href="./index.html">Bestsellers</a>
              </li>
               <li class="header-menu-item">
                <a class="header-menu-link link" href="./index.html">Reviews</a>
              </li>
               <li class="header-menu-item">
                <a class="header-menu-link link" href="./index.html">Contacts</a>
              </li>
            </ul>
      </nav>
            <button type="button" class="menu-open-btn" data-menu-open>
              <svg class="mob-open-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-open-menu">
            </use>
         </svg></button>
  </div>

                              <!-- Mobile Menu -->
                              
  <div class="mob-menu is-hidden" data-menu>
      <div class="menu-container">
              <svg class="header-logo" width="100" height="16">
                  <use href="./img/icons.svg#icon-logo">
                  </use>
              </svg>
          <button type="button" class="menu-close-btn" data-menu-close>
            <svg class="modal-imag" width="32" height="32">
                <use href="./img/icons.svg#icon-cloze-menu">
                </use>
            </svg>
          </button>
      </div>
      <div class="mob-menu-container">
              <ul class="mob-menu-list list">
                    <li class="mob-menu-item">
                        <a class="mob-menu-link link blu" href="./index.html">About us</a>
                    </li>
                    <li class="mob-menu-item">
                        <a class="mob-menu-link link" href="./index.html">Our products</a>
                    </li>
                    <li class="mob-menu-item">
                    <a class="mob-menu-link link" href="./index.html">Prices</a>
                    </li>
                    <li class="mob-menu-item">
                    <a class="mob-menu-link link" href="./index.html">Bestsellers</a>
                    </li>
                    <li class="mob-menu-item">
                    <a class="mob-menu-link link" href="./index.html">Reviews</a>
                    </li>
                    <li class="mob-menu-item">
                    <a class="mob-menu-link link" href="">Contacts</a>
                    </li>
                </ul>
      </div>
  </div>

</header>
