<secttion class="hero">
    <div class="hero__conainer">
        <div class="hero__wrap">
            <div class="hero__title-wrap">
                <h1 class="hero__title">Modern and minimalist furniture for you</h1>
            </div>
            <div class="hero__text-wrap">
                <p class="hero__text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
                <form action="#subscribe-action">
                    <button type="submit" class="hero__btn">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="hero__text-tabl">
            <p class="hero__text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
            <button type="button" class="hero__btn">Subscribe</button>
        </div>
    </div>
</secttion>

