<section class="products-container" id="our-products">
  <div class="products-box">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="products-list list">
      <li class="products-item">
        <div class="products-picture">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./img/images.desktop/our.produkts1-1x-min.jpg 1x,
                ./img/images.desktop/our.produkts1-2x-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./img/images.tab/our.products1-1x-min.jpg 1x,
                ./img/images.tab/our.products1-2x-min.jpg 2x
              "
            />
            <img
              class="products-img"
              src="./img/images.mob/uor.products-1x-min.jpg"
              srcset="
                ./img/images.mob/uor.products-1x-min.jpg 1x,
                ./img/images.mob/uor.products-2x-min.jpg 2x
              "
              alt="TV table"
            />
          </picture>
        </div>
        <p class="products-text">Minimalist storage solutions</p>
      </li>
      <li class="products-item product-item-tablet">
        <div class="products-picture">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./img/images.desktop/our.produkts2-1x-min.jpg 1x,
                ./img/images.desktop/our.produkts2-2x-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./img/images.tab/our.products2-1x-min.jpg 1x,
                ./img/images.tab/our.products2-2x-min.jpg 2x
              "
            />
            <img
              class="products-img"
              src="./img/images.mob/uor.products2-1x-min.jpg"
              srcset="
                ./img/images.mob/uor.products2-1x-min.jpg 1x,
                ./img/images.mob/uor.products2-2x-min.jpg 2x
              "
              alt="Blue sofa"
            />
          </picture>
        </div>
        <p class="products-text">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item product-item-desktop">
        <div class="products-picture">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./img/images.desktop/our.produkts3-1x-min.jpg 1x,
                ./img/images.desktop/our.produkts3-2x-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./img/images.tab/our.products3-1x-min.jpg 1x,
                ./img/images.tab/our.products3-2x-min.jpg 2x
              "
            />
            <img
              class="products-img"
              src="./img/images.mob/uor.products3-1x-min.jpg"
              srcset="
                ./img/images.mob/uor.products3-1x-min.jpg 1x,
                ./img/images.mob/uor.products3-2x-min.jpg 2x
              "
              alt="Big table"
            />
          </picture>
        </div>
        <p class="products-text">Sleek and simple tables</p>
      </li>
      <li class="products-item product-item-desktop">
        <div class="products-picture">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./img/images.desktop/our.produkts4-1x-min.jpg 1x,
                ./img/images.desktop/our.produkts4-2x-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./img/images.tab/our.products4-1x-min.jpg 1x,
                ./img/images.tab/our.products4-2x-min.jpg 2x
              "
            />
            <img
              class="products-img"
              src="./img/images.mob/uor.products4-1x-min.jpg"
              srcset="
                ./img/images.mob/uor.products4-1x-min.jpg 1x,
                ./img/images.mob/uor.products4-2x-min.jpg 2x
              "
              alt="High chair"
            />
          </picture>
        </div>
        <p class="products-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
