<section class="conteiner">
  <h2 class="price-title">Chairs Tables Dressers Sofas Price</h2>
  <div class="price-box">
    <ul class="price-list">
      <li class="price-item">
        Chairs
        <p class="price-text">from 200$</p>
      </li>
      <li class="price-item">
        Tables
        <p class="price-text">from 250$</p>
      </li>
      <li class="price-item">
        Dressers
        <p class="price-text">from 300$</p>
      </li>
      <li class="price-item">
        Sofas
        <p class="price-text">from 500$</p>
      </li>
    </ul>
  </div>
</section>
