<section class="subscript">
  <div class="container">
    <div>
      <h2 class="subscr-title">Newsletter</h2>
      <p class="subscr-desc">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="subscr-form">
        <div class="subscr-div-text">
          <input
            type="text"
            name="user-name"
            class="subscr-text-input"
            placeholder="Name"
            maxlength="16"
            minlength="2"
          />
        </div>
        <div class="subscr-div-email">
          <input
            type="email"
            name="user-email"
            class="subscr-email-input"
            placeholder="E-mail"
          />
        </div>
        <div class="checkbox-div">
          <input
            type="checkbox"
            name="user-subscript"
            value="true"
            id="user-subscript"
            class="subscr-check visually-hidden"
          />
          <label for="user-subscript" class="label-checked-name">
            <span class="checkbox-span">
              <svg width="10" height="10">
                <use href="../img/icons.svg#icon-checkmark"></use>
              </svg>
            </span>
            Agree to subscribe to the newsletter
          </label>
        </div>

        <button type="submit" class="subscr-button">Send</button>
      </form>
    </div>
    <div class="subscr-pict">
      <picture>
        <source
          srcset="
            ../img/images.mob/subscription-1x-min.jpg 1x,
            ../img/images.mob/subscription-2x-min.jpg 2x
          "
          media="(min-width:375px)"
        />
        <img
          src="../img/images.mob/subscription-1x-min.jpg"
          width="342"
          height="300"
          alt="sofa"
          class="subscr-img"
        />
      </picture>
    </div>
  </div>
</section>
