
.section-about-title {
    position: relative;
    color: var(--color-blue-font);
    font-size: 16px;
    padding-left: 119px;
    padding-top: 36px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5; 
}

.section-about-title::before {
    content: '';
    position: absolute;
    left: 69px;
    top: 47px;
    width: 30px;
    height: 1px;
    background-color: var(--color-blue-font);
}

.section-about-subtitle {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 69px;
    flex-shrink: 0;
    font-weight: 400;
    line-height: 1.4;  
}

.section-about-text {
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 69px;
    margin-right: 69px;
    flex-shrink: 0;
    font-weight: 400;
    line-height: 1.5;
}

.about-us-result {
    text-align: center; 
    margin-left: 69px;
    margin-right: 69px;
}

.section-about-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 55.94px;  
}

.section-about-item-title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 1.5; 
}

.section-about-item-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 170px;
    height: 81px;
}

.section-about-img {
    width: 536px;
    height: 540px;
}


/* -----------TABLET----------- */
@media screen and (min-width: 768px) {
    
    .section-about-container {
        padding-left: 32px;
        padding-right: 32px; 
    }

    .section-about-wraper {
        width: 704px;
        height: 499px;
        margin-bottom: 30px;
        background-color: var(--color-light-blue);
    }

    .section-about-subtitle {
        margin-left: 64px;
    }

    .section-about-text {
        margin-left: 64px;
    }

    /* .section-about-list {
        gap: 33px;  
    } */

    .section-about-img {
        width: 704px;
        height: 540px;
    }
}

/* -----------MOBILE----------- */
@media screen and (min-width: 375px) {
    
    .section-about {
        padding-top: 64px;
        padding-bottom: 64px;
    }
   
    .section-about-container {
        padding-left: 16px;
        padding-right: 16px; 
    }

    .section-about-wraper {
        background-color: var(--color-light-blue);
    }

    /* .section-about-title {
        padding-top: 0px; 
    } */

    .section-about-title::before {
        right: 0px;
        /* width: 20px; */
    }

    /* .section-about-subtitle { 
        font-size: 28px;
        line-height: 1.5;
        margin-left: 0px;
        margin-right: 0px;
    }

    .section-about-text {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 0px; 
    }   */

    /* .section-about-list {
        display: block;
        gap: 30px;  
    } */

    .section-about-img {
        width: 767px;
        height: 400px;
    }
}

/* -----------DESKTOP----------- */

@media screen and (min-width: 1440px) {

    .section-about {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .section-about-container {
        padding-left: 60px;
        padding-right: 60px;  
        display: flex; 
    }
    
    .section-about-wraper {
        width: 760px;
        height: 500px;
        flex-shrink: 0;
        margin-right: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: var(--color-light-blue);
    }
}