.about-us {
  background-color: var(--color-white);
  padding-bottom: 64px;
}
.about-us .container-section {
  padding-left: 0;
  padding-right: 0;
}

.about-us-container {
  background-color: var(--color-light-blue);
  padding: 64px 16px;
}
.title-about-us {
  display: flex;
  color: var(--color-blue-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  align-items: center;
  margin-bottom: 30px;
}
.title-about-us::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: var(--color-blue-font);
  margin-right: 20px;
}
.title-about-us-secondary {
  color: var(--color-blue-font);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.taxt-about-us {
  color: var(--color-blue-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.about-us-results {
  text-align: center;
}
.list-about-us {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.title-about-us-item {
  color: var(--color-blue-font);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 170px;
  margin-bottom: 14px;
}

.taxt-about-us-item {
  color: var(--color-blue-font);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 170px;
}
.img-about-us {
  max-width: 767px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .title-about-us-secondary {
    max-width: 767px;
  }

  .taxt-about-us {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-white);
  }
  .about-us .container-section {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-us-container {
    background-color: var(--color-light-blue);
    padding: 36px 64px;
    margin-bottom: 30px;
    width: 704px;
  }

  .title-about-us-secondary {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .taxt-about-us {
    font-size: 18px;
  }
  .taxt-about-us-item {
    font-size: 18px;
  }
  .about-us-results {
    margin-bottom: 0;
  }
  .list-about-us {
    flex-direction: row;
    gap: 33px;
  }
  .img-about-us {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us {
    padding-top: 100px;
  }
  .about-us .container-section {
    padding-left: 60px;
    padding-right: 60px;
  }
  .about-us-container {
    padding-left: 69px;
    padding-right: 69px;
    padding-bottom: 34px;
    margin-bottom: 0;
    max-width: 760px;
  }
  .container-desktop {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .list-about-us {
    flex-direction: row;
    gap: 56px;
  }
  .img-about-us {
    /* max-width: 536px; */
  }
}
