.reviews-section {
  background-color: var(--color-light-blue, #F7FAFF);
  padding: 36px 0;
}

.review-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.reviews-item {
  background-color: var(--color-white, #FFFFFF);
  border-radius: 8px;
  padding: 24px;
}

.reviews-item:nth-child(2), .reviews-item:nth-child(3) {
  display: none;
}

.reviews-headline {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .reviews-headline {
    font-size: 32px;
    line-height: 1.4;

  }
}

.reviews-user-block {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.reviews-user-avatar {
  width: 48px;
  height: 48px;
}

.reviews-block {
  display: block;
}

.reviews-name {
  font-size: 18px;
  line-height: 2.1;
  text-transform: uppercase;
}

.reviews-week {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.reviews-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 296px;
}

@media screen and (min-width: 768px) {
  .reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

  }

  .review-container {
    max-width: 768px;
  }

  .reviews-item:nth-child(2) {
    display: block;
  }

  .reviews-name {
    font-size: 20px;
    line-height: 2.25;
  }

  .reviews-week {
    font-size: 16px;
    line-height: 1.5;
  }

  .reviews-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .reviews-user-avatar {
    width: 56px;
    height: 56px;
  }

  .reviews-user-block {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-section {
    padding: 60px 0;
  }

  .review-container {
    max-width: 1440px;
    padding: 0 60px;
  }

  .reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .reviews-item:nth-child(2), .reviews-item:nth-child(3) {
    display: block;
  }

  .reviews-item {
    padding: 32px;
  }

  .reviews-user-block {
    margin-bottom: 16px;
  }

  .reviews-name {
    font-size: 20px;
    line-height: 2.25;
  }

  .reviews-week {
    font-size: 16px;
    line-height: 1.5;
  }

  .reviews-text {
    font-size: 18px;
    line-height: 1.5;
    max-width: 360px;
  }

  .reviews-user-avatar {
    width: 56px;
    height: 56px;
  }
}