.header-container {
    
    display: flex;
      max-width: 375px;
      padding: 28px 16px 28px 16px;
      justify-content: space-between;
      align-items: center;
      background: var(--light-blue, #F7FAFF);
}
.header-menu-list {
  display: none;
}


/************************************* MENU MOBILE******************************/


.mob-menu {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--color-white);
}

.menu-container {
  display: flex;
    height: 88px;
    padding: 28px 16px 28px 16px;
    justify-content: center;
      align-items: center;
      background: var(--light-blue, #F7FAFF);
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.mob-menu-container {
  display: flex;
  justify-content: center;
    align-items: center;
  
}
.mob-menu-list {
  display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 17px;
    padding-top: 114px;
    padding-bottom: 365px;
}

.mob-menu-link {
  color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    
}
.menu-open-btn {
  border: none;
    background-color: transparent;
}



                                     /*MOBILE 375*/

@media screen and (min-width:375px) {
  .container {
    max-width: 375px;

  }
}

                                     /*TABLET 768*/

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
  }
    .mob-menu-link {
      font-size: 18px;
    }
        .menu-open-icon {
          width: 40px;
            height: 40px;
        }
    .header-logo {
      width: 127px;
        height: 16px;
    }
}

                                    /*DEXTOP 1158*/

@media screen and (min-width:1158px) {
  .container {
    max-width: 1440px;
    }
        .header-container {
          padding: 26px 60px;
          justify-content: space-between;
          
        }
        .header-logo {
          width: 127px;
            height: 16px;
        }
  .header-navigation {
       display: flex;
      padding: 8px;
      align-items: center;
      gap: 30px;
    }
    .header-menu-list {
      display: flex;
      padding: 8px;
        align-items: center;
        gap: 30px;
        
    }
   .header-menu-link {
    color: var(--blue-font, #0A224A);
    font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
     
   }
     .mob-menu {
      display: none;
     }
         .menu-open-btn {
          display: none;
         }
}